html {
box-sizing: border-box;
font-family: Helvetica, sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
padding: 0px; margin: 0;
}

html,body{
display: block;
height: 100%; width: 100%;
}

ul,li,a{
margin: 0; 
padding: 0; 
text-decoration: none;
}

.main, .main-header, .main-container, .main-footer{
	display: block;
	width: 100%;
}

.main{
	height: 100%;
}

.main-header{
	height: 150px; 
	background-color: #778899;
	
}

.main-header a img{
	float: left;
	max-height: 150px; 
}

#menu_rs{
	float: right;
	list-style: none;
	margin-top: 15px; 
	margin-right: 5px; 
}

#menu_rs ul{
	list-style: none; 
 
}

#menu{
	padding: 0;
	text-align: center;	
	vertical-align: middle;
}

#menu li{
	display: inline-block;
	list-style: none;
	margin-top: 60px; 
}

#menu a{
	font-size: 25px; 
	padding: 5px;
	margin-right: 10px;	
	color: #2F4F4F;
}

#menu a:hover{
	background-color: #FFFFE0; 
	color: #ccc; 
	border: 1px solid #000;
}

.main-container{
	clear: both;
	height: auto; 
	margin-top: 30px;  
}

.main-container a img{
	float: left;
	max-height: 90px; 
	margin-top: 5px;  
}

h1{
	font-size: 50px; 
	color:#2F4F4F ;
	height: 80px;  
	padding-top: 10px; 
	height: 100px;
	
}

.container01, .container02{
	padding: 20px;
}

.container01 a{
	text-decoration : underline;
	color: #2F4F4F;
	font-weight: bold;
}

.container01 p, .container01 ul, .container03 label, .container02 input, .container02 textarea{
	margin-left: 20px; 
	padding-top: 20px;
}



.container01 h2, .container02 h2, .container03 h2{
	font-size: 35px; 
	color: #CCC;
}

h3{
	color: #2F4F4F;
	margin-left: 15px;
	padding-top: 20px; 
}

.main-container li{
	margin-left: 20px;
}



.container03{
	background-color: #778899;
	padding: 20px; 
	line-height: 1.5; 
}

.container03 h2{
	font-size: 35px; 
	color: #CCC;
}

.container03 input, .container03 textarea{
	background-color: #FFFFE0;
	color: #000;
	width: 95%;
	padding: 15px; 

}

/*#send{
	padding: 10px; 

}*/

.main-footer{
	height: 50px; 
	background-color: #FFFFE0; 
	padding: 15px; 
	text-align: right;
}


.main-footer a img{
	float: left;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 10px;
}


/*.trop {
	display: inline;
	float: right;
	margin-bottom: 5px;
}

.trop p{
	padding-right: 10px; 
}
*/