@font-face{
	font-family: 'Handlee', cursive;
	}


html {
box-sizing: border-box;
font-family: 'Handlee';
 
}

*, *:before, *:after {
box-sizing: inherit;
padding: 0px; margin: 0;
}

html,body{
display: block;
height: auto; width: 100%;
}

ul,li,a{
margin: 0; 
padding: 0; 
text-decoration: none;
}


.main, .main-header, .main-container, .main-footer{
	display: block;
	width: 100%;
}

.main{
	height: 100%;
}

.main-header{
	height: 200px; 
	background-color: #F7CBF8;
	background-image: url(img/fond.png);
	position: fixed;
	
}

.main-header a img{
	float: left;
	height: 150px; 
	border-radius: 80px; 
	margin-top: 15px;  
	margin-left: 5px;
}

.progress-container {
width: 100%;
height: 5px;
background: grey;
position:fixed;
top: 0px;
}

.progress-bar {
height: 5px;
background: pink;
width: 0%;
}

#menu_rs{
	float: right;
	list-style: none;
	margin-top: 15px; 
	margin-right: 5px;
}

#menu_rs ul{
	list-style: none; 
	height: 200px; 
}


#menu{
	margin: 0; 
	padding: 0;
	text-align: center;	
	vertical-align: middle;
	height: 200px; 
}

#menu ul{
	height: 200px; 
}

#menu li{
	display: inline-block;
	list-style: none;
	margin-top: 75px; 
	color: #FFFFFF;
}

#menu a{
	font-family: 'Handlee';
	color: #FFFFFF;
	font-size: 30px; 
	padding: 5px;
	margin-right: 10px;	
	font-weight: bold;
}

#menu a:hover{
	background-color: #B11C52; 
	color: #FFFFFF; 
	border: 1px #000;
	zoom: 150%;
}

.main-container{
	clear: right;
	height: auto;   
}

.main-container img{
	float: left;
	max-height: 90px; 
	margin-top: 5px;
	margin-left: 30px;  
	border-radius: 40px; 
	transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */ 
}

.main-container img:hover{
    transform: translateX(400px); 
}

.main-container li{
	margin-left: 20px;
}

h1{
	font-family: 'Handlee';
	font-size: 40px; 
	color: #B11C52; 
	background-color: #FFFFFF; 
	margin: 0;  
	padding-top: 4; 
	line-height: 100px;
	text-align: center;
}

.container01{
	background-color: #F9E5F6; 
}

.now, .futur, .experience, .skills, .hobbies, .formulaire{
	display: block;
	background-color: #FFFFFF; 
	line-height: 100%;
	padding-bottom: 20px;  
	margin-top: 15px;
}

.futur,.experience,.hobbies{
	padding-top: 5px, 
	margin-top:15px ;
}

.skills table{
	margin-top: 15px; 
	padding-left: 25px; 
}

.skills table td{

	padding: 5px; 

}

#hobbies{
	padding-top: 50px;  
	text-align: center;	
	vertical-align: middle;
	height: 200px; 
}

#hobbies li{
	display: inline-block; 
	list-style: none;
	padding: 25px; 
}

.container01, .container02{
	padding: 20px;
}

.container01 a{
	text-decoration : underline;
	color: #881C79;
	font-weight: bold;
}

.container01 p, .container01 ul, .container02 input, .container02 textarea{
	line-height: 25px;
	margin-left: 20px; 
	padding-top: 20px;
	background-color: #FFFFFF;
}

.container01 p, .container01 ul, .container03 label, .container03 input, .container03 textarea, #send{
	margin-left: 20px; 
	padding-top: 20px;
}

.container01 h2, .container02 h2, .container03 h2{
	font-size: 35px; 
	color: #B11C52;
}

h3{
	color: #881C79;
	margin-left: 15px;
	padding-top: 20px; 
}

.container02{
	background-color: #F9E5F6;
}

.container02 p{
	text-align: center;
	color: 
}

.work_in_progress{
	display: block; 
	line-height: 100%;  
	margin-top: 15px;
	border: 5px solid #FFFFFF ;
	padding: 20px; 
}

.work_in_progress iframe{
	width: 70px;
	height: 70px;
}

.container03{
	background-color: #F9E5F6;
	padding: 20px; 
	line-height: 1.5;  
}

.formulaire{
	padding: 15px; 
}

.first_name, .last_name, .message{
	margin-top: 20px; 
}


.container03 input, .container03 textarea{
	background-color:#FDEFEE;
	color: #000;
	width: 95%;
	padding: 15px; 

}

.main-footer{
	height: 50px; 
	background-color: #FFFFFF; 
	padding: 15px; 
	text-align: right;
}


.main-footer a img{
	float: left;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

