html {
box-sizing: border-box;
font-family: Helvetica, sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
padding: -1px; margin: 0;
}

html,body{
display: block;
height: 100%; width: 100%;
}

ul,li,a{
margin: 0; 
padding: 0; 
text-decoration: none;
}

.main, .main-header, .main-container, .main-footer{
	display: block;
	width: 100%;
}

.main{
	height: 100%;
}

.main-header{
	height: 150px; 
	background-color: #FFFFE0; 
	 
}

.main-header a img{
	float: left;
	max-height: 150px; 
}

.main-header img{
	float: right;
	max-height: 150px; 
}


#menu{
	padding: 0;
	line-height: 150px; 
	text-align: center;

}

#menu li{
	display: inline;
	list-style: none;

}

#menu a{
	border: 1px solid; 
	font-size: 25px; 
	padding: 5px;
	margin-right: 10px;	
	color: #E9967A;
}

#menu a:hover{
	background-color: #5F9EA0; 
	color: #ccc; 
	border: 1px solid #000;
}



.main-container{
	clear: both;
	height: auto; 
	background-color: #5F9EA0; 
	padding: 40px;
}

.container01 a{
	text-decoration : underline;
	color: #EEE;
	font-weight: bold;
}

.container01, .container02{
	margin: 10px; 
}

.container01 p, .container02 label, .container02 input{
	margin: 5px; 
	padding-top: 2px;
}


h1{
	font-size: 50px; 
	color:#FFFFE0 ;
	text-align: center;
}

h2{
	color: #FFFFE0;
}

.main-container li{
	margin-left: 20px;
}


.main-footer{
	height: 50px; 
	background-color: #E9967A; 
	padding: 15px; 
	text-align: right;
}

.container02 input, .container02 textarea{
	background-color: #FFFFE0;
	color: #000;
}


